* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c1d9eb;
    color: white;
    position: relative;
    z-index: 10; 
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: lightgray;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    background-color: #8d9fec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.btn:hover {
    background-color: #6189e6;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-container {
    width: 550px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: transform 0.3s ease-in-out;
    background-color: white;
}

.logo-container:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.logo-img {
    width: 90%;
    height: 63%;
}

a{
    text-decoration: none;
    color: white;
}